# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.*

# Logs
*.log

# OS files
.DS_Store

# Editor
.vscode/
.idea/

# Playwright
playwright-report/

# Test file
test.py
